.container .produtos .produtos-cabeca {
   
    height: auto;
    padding-bottom: 5px;
    width: inherit;
    margin-top: 10px;
}
.container .produtos .produtos-cabeca .row .owl-carousel .item {
    
    margin-right: 5px;
}